<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registo</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<Style>
.landing-page {
	margin-top: 50px;
}

.image-page {
	margin-top: 10px;
	margin-bottom: 20px;
}

.landing-button {
	float: right;
}

.image-class {
	height: auto;
	width: auto;
	margin-bottom: 20px;
}

.end-of-page {
	height: 100px;
}
.scarcity-label {
	margin-top: 5px;
	height: auto;
	width: auto;
	margin-left: 15px;
	color: red;
}

.scarcity-label-2 {
	height: auto;
	width: auto;
	margin-left: 25px;
	color: red;
}
</Style>
</head>
<body>
	<div class="container my-3">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<form th:action="@{/home}" method="GET">
						<div class="nav-class">
							<button class="btn btn-light" type="submit">Home</button>
						</div>
					</form>
					<form th:action="@{/dicas-alimentacao}" method="GET">
						<div class="nav-class">
							<button class="btn btn-light" type="submit">Alimentação</button>
						</div>
					</form>
					<form th:action="@{/dicas-exercicio}" method="GET">
						<div class="nav-class">
							<button class="btn btn-light" type="submit">Exercicio
								Físico</button>
						</div>
					</form>
				</ul>
				<form class="form-inline my-2 my-lg-0" th:action="@{/login}"
					method="GET">
					<button class="btn btn-light" type="submit">Logout</button>
				</form>
		</nav>
		<div class="panel-body">
			<div class="landing-page">
				<div class="col-md-12">
					<h2 class="card-title">Importância do exercicio físico</h2>
					<div class="news-post-content text-justify">
						<div class="spacer-extra-small"></div>
						<p>O objetivo da prática regular de exercício não apenas
							conseguir um corpo excecional, mas antes obter uma forma física
							que nos permita sentirmo-nos bem, o que poderá refletir-se em
							atos tão triviais do quotidiano como subir uma escada sem
							ficarmos ofegantes. Para além de tornar o coração e os pulmões
							mais eficientes e os músculos mais fortes, o exercício também
							melhora a sua figura e postura e aumenta o seu bem-estar.
							Sentir-se-á mais relaxado, dormirá melhor e adaptar-se-á melhor
							às situações de stress.</p>
						<p>Se continuar ativo ao longo da vida, aumentará as suas
							probabilidades de viver mais e com saúde. Para tanto, não é
							absolutamente necessário passar horas e horas num ginásio ou
							praticar intensamente uma grande variedade de desportos. Basta um
							pouco de força de vontade e alguma disciplina, para praticar o
							desporto da nossa preferência, com regularidade, num ambiente
							relaxante e saudável, como veremos no dossier que se segue. E
							para quem leva o desporto mais a sério, também temos alguns
							conselhos.</p>
					</div>
					<div class="news-post-content text-justify">
						<div class="influence-principle"></div>
						<h2 class="card-title">Acabe com as desculpas!</h2>
						<div class="image-class">
							<img th:src="@{/images/mark_wahlberg.jpg}" />
						</div>
						<p>
							Tal como muitos outros, <Strong>Mark Wahlber </Strong> sabia que
							o exercício físico é bom para a saúde, mas dava a desculpa de não
							ter sido “feitio para o desporto”, ou que tinha "falta de tempo",
							e que estava "cansaço ou em baixa forma física"…
						</p>
						<p>Só que tudo mudou um dia, quando decidiu dar um passo para
							mudar a sua vida, para melhor, inscrevendo-se no ginásio e ter
							acompanhamento dos especialistas (as pessoas que lá trabalham). O
							próprio disse que foi "uma das decisões mais acertadas da sua
							vida" e que hoje em dia não dispensa da sua ida ao gínasio um
							único dia.</p>

						<p>
							<Strong>Faça como Mark Wahlberg e pare com as desculpas!</Strong>
					</div>
					<form th:action="@{/historic/successfull}" method="POST">
						<div class="landing-button">
							<button class="btn btn-secondary btn-sm" type="submit">Inscreva-se
								já no ginásio!</button>
									<div class="scarcity-label">
								<label>Última opurtinidade!</label>
							</div>
							<div class="scarcity-label-2">
								<label>Uma vaga apenas!</label>
							</div>
						</div>
					</form>
					<div class="end-of-page"></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
    $(function() {
        $("#join_datepicker").datepicker({dateFormat:"yy-mm-dd"});
        $("#retire_datepicker").datepicker({dateFormat:"yy-mm-dd"});
    });
</script>
</body>
</html>
