<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registo</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<Style>
h2 {
	text-align: center
}

.center-button {
	margin-left: 45%;
	margin-right: 50%;
}

.row {
  margin-top: 200px;
	height: 30em;
	position: relative;
	 align-items: center;
	 justify-content: center;
}

</Style>
</head>
<body>
	<div class="container my-3">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h2>Registo</h2>
				<form action="#" th:action="@{/registration}"
					th:object="${registerReq}" method="POST">
					<div class="form-row">
						<div class="col-md-6 form-group">
							<label>Nome</label> <input type="text" class="form-control"
								th:field="*{name}" required>
						</div>
						<div class="col-md-6 form-group">
							<label>Age</label> <input type="text" class="form-control"
								th:field="*{age}" required>
						</div>
						<div class="col-md-3 form-group">
							<label>Países:</label> <select class="form-control"
								th:field="*{countryId}">
								<option th:each="country : ${countryList}"
									th:value="${country.getId()}" th:text="${country.getName()}">
								</option>
							</select>
						</div>
						<div class="col-md-6 form-group">
							<label>Sexo:</label> <select class="form-control"
								th:field="*{genderId}">
								<option th:each="gender : ${genderList}"
									th:value="${gender.getId()}" th:text="${gender.getType()}">
								</option>
							</select>
						</div>
						<div class="col-md-6 form-group">
							<label>Peso (kg)</label> <input type="text" class="form-control"
								th:field="*{weight}" required>

						</div>
						<div class="col-md-6 form-group">
							<label>Altura (cm)</label> <input type="text"
								class="form-control" th:field="*{height}" required>

						</div>
						<div class="col-md-6 form-group">
							<label>Username</label> <input type="text" class="form-control"
								th:field="*{username}" required>

						</div>
						<div class="col-md-6 form-group">
							<label>Password</label> <input type="password" is="password"
								name="password" class="form-control" placeholder="Password"
								required th:field="*{pwd}">

						</div>
						<div class="col-md-6 form-group">
							<strong>Alguma vez realizou consulta nutricional?</strong>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio"
									th:field="*{hadNutricionalConsult}" id="option1" value="true">
								<label class="form-check-label" for="option1">Sim</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio"
									th:field="*{hadNutricionalConsult}" id="option2" value="false">
								<label class="form-check-label" for="option2">Não</label>
							</div>
						</div>
					</div>
					<div class="center-button">
						<button type="submit" class="btn btn-primary btn-lg">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
    $(function() {
        $("#join_datepicker").datepicker({dateFormat:"yy-mm-dd"});
        $("#retire_datepicker").datepicker({dateFormat:"yy-mm-dd"});
    });
</script>
</body>
</html>
